*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  opacity: 0.4;
}

button {
  background-color: transparent;
  border: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: optimize-contrast; /* CSS3 Proposed */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}
table {
  border-collapse: collapse;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
}