$mobile-width-small: 375px;
$mobile-width: 414px;
$tablet-width: 768px;
$desktop-width: 1200px;

$white: #ffffff;
$black: #000000;
$dynamic_black: #1d1d1d;
$wizard_white: #dcf2ff;
$clear_sky: #8fc4ff;
$summer_daffodil: #ffdf78;
$intoxicate: #16BF54;